html,
body,
.App {
  height: 100vh;
}

body {
  background-color: #eee;
}

.table-container {
  height: 77vh;
}

.pagination-count {
  text-align: center;
}

.details-card {
  padding: 2rem;
}

.details-title {
  text-align: center;
  padding: 0.5rem;
}

.go-back-btn-container {
  display: flex;
  justify-content: flex-end;
}
